@import "nativescript-theme-core/css/sky.css";

.btn-login {
  background-color: lightgreen;
}

.btn-test {
  background-color: hotpink;
}
TextField {
  padding: 10;
  font-size: 13;
}

@keyframes example {
    from { background-color: hotpink; }
    to { background-color: cornflowerblue; }
}

@keyframes example2 {
    from { background-color: cornflowerblue; }
    to { background-color: hotpink; }
}

.btn-test-animated {
     animation-name: example;
     animation-duration: 1s;
     animation-fill-mode: forwards;
 }


.btn-test-animated2 {
     animation-name: example2;
     animation-duration: 1s;
     animation-fill-mode: forwards;
 }
